body
        {
            background-color:#e8ffff;
        }

        hr
        {
            border-color: gray;
            border-style: none;
            border-top-style: dotted;
            border-width: 5px;
            /* height: 0px; */
            width: 10%;
        }

        h1
        {
            color:#a5ecd7
        }