body
{
    margin: 0;
    text-align: center;     /* Centers everything inside the body */
    font-family: sans-serif;
}

h1
{
    margin-top: 0;
    font-family: 'Yellowtail', cursive;
}

h2
{
    font-family: 'Charmonman', cursive;
}

p
{
    font-family: 'Padauk', sans-serif;
}
.top-container
{
    background-color: #ccf6c8;
    padding-top: 100px;
    
}

.mountain-img
{
    position: absolute;
    margin-bottom: -20px;
}
.top-cloud
{
    position: absolute;
    right: 20%;
    top: 50px;
    height: 60px;
    width: 100px;
}

.bottom-cloud
{
    position: absolute;
    left: 15%;
    height: 60px;
    width: 100px;
}

.profile-picture
{
    height:200px;
    width: 200px;
    margin-top: 5px;

}

.middle-container
{
    background-color: #aff1ef;
}

.tkd-img
{
    height: 150px;
}


.bottom-container
{
}